################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/yukicoder/v16/.suo
/.vs/yukicoder/v16/Browse.VC.opendb
/.vs/yukicoder/v16/Browse.VC.db-wal
/.vs/yukicoder/v16/Browse.VC.db-shm
/.vs/yukicoder/v16/Browse.VC.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
